<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ParallelTests">


    <test name="Test1">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="Tests2"/>
        </classes>
    </test>

    <test name="Test2">
        <classes>
            <class name="Tests"/>
        </classes>
    </test>

    <test name="Test3">
        <classes>
            <class name="TestGrid"/>
        </classes>
    </test>

</suite>

